:root{
    --main-bg-color: #c70039;
    --first-font: 'Segoe UI';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container{
    background-color: var(--main-bg-color);
    position: sticky;
    top:0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    height: 10%;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5%;
    padding-top: 1.5%;
    max-width: 1300px;
    margin: 0 auto;
}

.nav_links a{
    margin:20%;
    text-decoration: none;
    font-family: var(--first-font);
    font-size: 1.5em;
    font-weight: bold;
    color:#FFFFFF;
}

.guitarist{
    
}

.cover{
    position: relative;
    width: 100vw;
}

.cover img{
    position: absolute;
    
}

.cover h1 {
    position: absolute;
}

.cover_image{
    width: 900px;
}

.Guitarist_band{
    
}

.card{
    width: 18rem;
    height: 18rem;
    margin: 1%;
    border-radius: 10px;
}

.card-img-top{
    height: 90px;
    width: 90px;
}
.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    max-width: 16rem;
}

.card-body{
    position: absolute;
    bottom: 0;
}

.card-body div{
    display: flex;
    justify-content: space-between;
    width: 16rem;
    padding-right: 15px;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height: 60px;
}